#content {
    max-width: 1600px;
    margin: 0 auto;
}
/* * {
    border: 1px solid blue;
} */
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align:center;
}
#background {
    height: 725px;
    background-color: #F5CB5C;
}
body {
    background-color: #fcfbfb;
    color: #242423;
    
}
header {
    background-color:#242423;
}
nav a:hover {
    background-color: #F5CB5C;
    color: #242423;
}
.book:hover, .join:hover {
    background-color: #242423;
    color: #F5CB5C;
}
.book, .join {
    color: #242423;
}
nav a{
    color: #242423;
}
footer p a {
    color: #242423;
}
footer p a:hover {
    background-color: #242423;
    color: #F5CB5C;
}
.social {
    background-color: #242423;
    color: #242423;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a, .book, .join, footer a {
    text-align: center;
    color: #242423;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}   
nav a {
    color: #F5CB5C;
}