@import url('https://fonts.googleapis.com/css2?family=Acme&family=Signika&display=swap');

.link img{
    width: 200px;
    border-radius: 50%;
}
.skills {
    width: 200px;
}
.educations {
    width: 200px;
}
